body{
    background-color: rgb(70, 119, 126);
}

section.formulario{
    padding: 40px 4%;
    box-shadow: 0px 0px 20px 10px #ffffff57 ;
}

form{
    max-width: 500px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    margin-top: 40px;
}

form input, form textarea{
    width: 100%;
    background-color: rgb(48, 48, 48);
    border: none;
    outline: unset;
    padding: 20px 15px;
    border-radius: 15px;
    color: white;
    font-size: 18px;
}

form textarea{
    resize: none;
    max-height: 200px;
    margin-top: 10px;
}

form .btn-enviar{
    margin-top: 20px;
    text-align: center;
}

form .btn-enviar input{
    width: 120px;
    background-color: #00FF08;
    color: black;
    font-weight: 700;
    cursor: pointer;
}

h2 {
  text-align: center;
  color: #00FF08;

}

a{
    color: #00FF08;
 
}